## Tarea 2

### Integrantes:

+ Iván Alvarez Tostado Bárcena
+
+

### Indicaciones

Implementar los procedimientos:
+ *Validación cruzada*
+ *Perceptrón*
+ *Descenso por gradiente en MVS*
+ *Descenso por gradiente estocástico*

Probar CV con perceptrón y descenso por gradiente estocástico

In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
import random
import math

In [97]:
random.seed(123)

In [2]:
iris = datasets.load_iris()

In [3]:
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                  columns= iris['feature_names'] + ['Species'])

In [4]:
tgt = iris.target[0]

In [5]:
tgt_name = iris.target_names[0]
tgt_name

'setosa'

En el feature 'Species' vemos que 'setosa' corresponde al valor '0', por lo que asignaremos el valor 1 si se trata de 'setosa' y -1 en el caso de que se trate de 'versicolor' o 'virginica'.

In [6]:
df['Species'] = df['Species'].replace([0,1,2],[1,-1,-1])
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,1.0
1,4.9,3.0,1.4,0.2,1.0
2,4.7,3.2,1.3,0.2,1.0
3,4.6,3.1,1.5,0.2,1.0
4,5.0,3.6,1.4,0.2,1.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,-1.0
146,6.3,2.5,5.0,1.9,-1.0
147,6.5,3.0,5.2,2.0,-1.0
148,6.2,3.4,5.4,2.3,-1.0
149,5.9,3.0,5.1,1.8,-1.0

In [7]:
def cross_validate_splits(df, folds):
    cv_splits = []
    index = df.index.values.tolist()
    lenght_split = int(len(index)/folds)
    
    #Divide data into random folds
    for x in range(folds):
        
        split = []
        while  lenght_split > len(split):
            
            #select a random element index
            element_index =  random.choice(index)  
            #append row to split list
            split.append(df[df.index == element_index].values[0].tolist())
            #ensure no duplicates 
            index.remove(element_index)    
        
        #append each fold to cv_splits list
        cv_splits.append(np.asarray(split))
        
    return cv_splits

In [8]:
def perceptron(T, Dn):
    #columns without predicted column
    df_lenght = Dn.shape[1]-1
    errors = 0
    
    #initial values
    theta_0 = 0
    theta = np.zeros(df_lenght).transpose()
    
    #total of runs
    for t in range(T):
        #total of rows in Dn
        for i in range(Dn.shape[0]):
            #Check and update initial values
            if Dn[i][4]*(np.dot(theta, Dn[i][:4,]) + theta_0) <= 0:
                errors += 1
                theta += Dn[i][4] * Dn[i][:4,]
                theta_0 +=  Dn[i][4]

    return theta, theta_0, errors

In [107]:
def cross_validate(df, folds, function = 'perceptron'):
    
    #initial values
    df_lenght = df.shape[0]
    #separation of df into splits
    cv_splits = cross_validate_splits(df, folds)
    #list of D without Di
    cv_folds = list()
    #number of errors per method run
    errors = list()
    
    #Check that each fold does not have Di
    for i in range(len(cv_splits)):
        df_short = list()
        for j in range(len(cv_splits)):
            if i != j:
                df_short.append(cv_splits[j])
                
        #Combine arrays into just one for each split
        df_short = np.vstack(df_short)
        cv_folds.append(df_short)
    
        if function == 'perceptron':
            #Number of errors when applying perceptron function
            errors.append(perceptron(50,cv_folds[i])[2])
        #else:
        #   errors.append()            
        
    
    return np.average(errors)

In [125]:
#Errors average for perceptron with k=5
cross_validate(df,5)

5.4